<h1 class="notification"> Your <span class="orange"> Somethings </span></h1>
<div class="form">
  <table>
    <tr>
      <th style="width: 150px;">Name</th>
      <th style="width: 150px;">Date</th>
      <th style="width: 150px;">Type</th>
      <th>Description</th>
      <th style="width: 20px; background: #e6e6e6;"></th>
      <th style="width: 20px;"><a href="/template/new"><button class="add"><img src="<%= image_path('add-alt.svg') %>"/></button></a></th>
    </tr>
    <tr>
      <td>Pla</td>
      <td>Poo</td> 
      <td>Magic The Gathering</td>
      <td>Shoosh!</td>
      <td><a href="/template/edit"><button class="edit"><img src="<%= image_path('pen-alt.svg') %>"/></button></a></td>
      <td><a href="/template"><button class="delete"><img src="<%= image_path('add-alt.svg') %>"/></a></button></td>
    </tr>
    <tr>
      <td>Plo</td>
      <td>Paa</td> 
      <td>Puh</td>
      <td>Shoosha!</td>
      <td><a href="/template/edit"><button class="edit"><img src="<%= image_path('pen-alt.svg') %>"/></button></a></td>
      <td><a href="/template"><button class="delete"><img src="<%= image_path('add-alt.svg') %>"/></a></button></td>
    </tr>
    <tr>
      <td>Platypus</td>
      <td>Poo</td> 
      <td>Seven</td>
      <td>But why?</td>
      <td><a href="/template/edit"><button class="edit"><img src="<%= image_path('pen-alt.svg') %>"/></button></a></td>
      <td><a href="/template"><button class="delete"><img src="<%= image_path('add-alt.svg') %>"/></a></button></td>
    </tr>
  </table>
</div>