<h1 class="notification"> Non-elimination Tournament <span class="orange"> Brackets </span></h1>
<div class="event-management">
  <div class="third left-most history">
    <!--<h1> Round 1 </h1>-->
    <div class="bracket">
      <div class="top winner"> 
        <span> Player 1 </span>
        <input type="text" placeholder="0" value="2"/>
      </div>
      <div class="bottom"> 
        <span> Player 2 </span>
        <input type="text" placeholder="0" value="1"/>
      </div>
    </div>
    <div class="bracket">
      <div class="top"> 
        <span> Player 3 </span>
        <input type="text" placeholder="0" value="0"/>
      </div>
      <div class="bottom winner"> 
        <span> Player 4 </span>
        <input type="text" placeholder="0" value="3"/>
      </div>
    </div>
    <div class="bracket">
      <div class="top"> 
        <span> Player 5 </span>
        <input type="text" placeholder="0" value="1"/>
      </div>
      <div class="bottom winner"> 
        <span> Player 6 </span>
        <input type="text" placeholder="0" value="2"/>
      </div>
    </div>
    <div class="bracket">
      <div class="top"> 
        <span> Player 7 </span>
        <input type="text" placeholder="0" value="1"/>
      </div>
      <div class="bottom winner"> 
        <span> Player 8 </span>
        <input type="text" placeholder="0" value="2"/>
      </div>
    </div>
    <div class="bracket">
      <div class="by tie">
        <span> Player 9 </span>
        <input type="text" placeholder="0" value="T"/>
      </div>
    </div>
  </div>
  <div class="third history">
    <!--<h1> Round 2 </h1>-->
    <div class="bracket">
      <div class="top winner"> 
        <span> Player 1 </span>
        <input type="text" placeholder="0" value="W"/>
      </div>
      <div class="bottom"> 
        <span> Player 4 </span>
        <input type="text" placeholder="0" value="L"/>
      </div>
    </div>
    <div class="bracket">
      <div class="top"> 
        <span> Player 9 </span>
        <input type="text" placeholder="0" value="L"/>
      </div>
      <div class="bottom winner"> 
        <span> Player 3 </span>
        <input type="text" placeholder="0" value="W"/>
      </div>
    </div>
    <div class="bracket">
      <div class="top winner"> 
        <span> Player 5 </span>
        <input type="text" placeholder="0" value="10"/>
      </div>
      <div class="bottom"> 
        <span> Player 8 </span>
        <input type="text" placeholder="0" value="5"/>
      </div>
    </div>
    <div class="bracket">
      <div class="top winner"> 
        <span> Player 7 </span>
        <input type="text" placeholder="0" value="1"/>
      </div>
      <div class="bottom"> 
        <span> Player 6 </span>
        <input type="text" placeholder="0" value="0"/>
      </div>
    </div>
    <div class="bracket">
      <div class="by tie">
        <span> Player 2 </span>
        <input type="text" placeholder="0" value="T"/>
      </div>
    </div>
  </div>
  <div class="third">
    <!--<h1> Round 3 </h1>-->
    <div class="bracket">
      <div class="top winner"> 
        <span> Player 1 </span>
        <input type="text" placeholder="0" value="W"/>
      </div>
      <div class="bottom"> 
        <span> Player 9 </span>
        <input type="text" placeholder="0" value="L"/>
      </div>
    </div>
    <div class="bracket winner">
      <div class="top tie"> 
        <span> Player 3 </span>
        <input type="text" placeholder="0" value="T"/>
      </div>
      <div class="bottom tie"> 
        <span> Player 8 </span>
        <input type="text" placeholder="0" value="T"/>
      </div>
    </div>
    <div class="bracket">
      <div class="top "> 
        <span> Player 5 </span>
        <input type="text" placeholder="0" value="L"/>
      </div>
      <div class="bottom winner"> 
        <span> Player 2 </span>
        <input type="text" placeholder="0" value="W"/>
      </div>
    </div>
    <div class="bracket">
      <div class="top"> 
        <span> Player 7 </span>
        <input type="text" placeholder="0" value="0"/>
      </div>
      <div class="bottom winner"> 
        <span> Player 4 </span>
        <input type="text" placeholder="0" value="1"/>
      </div>
    </div>
    <div class="bracket">
      <div class="by tie">
        <span> Player 6 </span>
        <input type="text" placeholder="0" value="T"/>
      </div>
    </div>
  </div>
</div>
<div class="menu">
  <div class="title"> Menu </div>
  <a class="tab" href="/mockup-event-info">
    <img src="<%= image_path('pen.svg') %>"/>
    <span> Edit Info </span>
  </a>
  <a class="tab" href="/mockup-event-checkin"> 
    <img src="<%= image_path('person.svg') %>"/>
    <span> Check In </span>
  </a>
  <a class="tab" href="/mockup-event-brackets"> 
    <img src="<%= image_path('trophy.svg') %>"/>
    <span> Brackets </span>
  </a>
  <!--<a class="tab" href="#"> 
    <img src="<%= image_path('money.svg') %>"/>
    <span> Rewards </span>
  </a>-->
  <a class="tab" href="/mockup-event-summary">
    <img src="<%= image_path('stats.svg') %>"/>
    <span> Summary </span>
  </a>
  <a class="tab" href="/mockup-events"> 
    <img src="<%= image_path('trash.svg') %>"/>
    <span> Delete </span>
  </a>
</div>