<h1 class="notification"> Your <span class="orange"> Upcoming Events </span> </h1>
<div class="event">
  <img src="<%= image_path('netrunner.jpg') %>"/>
  <h1> Non-elimination Tou... </h1>
  <p> Netrunner </p>
  <p class="description"> This is a tournament of 30 people and it will be really cool and fun! Trust me you'll like it. </p>
  <img class="date" src="<%= image_path('date.svg') %>"/><span> 9/22/14 </span>
  <a href="/mockup-event-info"> Manage </a>
</div>
<div class="event">
  <img src="<%= image_path('mtg.jpg') %>"/>
  <h1> Weekly Draft </h1>
  <p> Magic The Gathering </p>
  <p class="description"> Duels of the Planeswalkers Magic The Gathering draft for up to 16 people. </p>
  <img class="date" src="<%= image_path('date.svg') %>"/><span> 9/25/14 </span>
  <a href="/mockup-event-info"> Manage </a>
</div>
<div class="event">
  <img src="<%= image_path('netrunner.jpg') %>"/>
  <h1> Tournament </h1>
  <p> Netrunner </p>
  <p class="description"> This is a tournament limited to 16 people. Now that you've all gotten used to the game let's see who's... </p>
  <img class="date" src="<%= image_path('date.svg') %>"/><span> 10/2/14 </span>
  <a href="/mockup-event-info"> Manage </a>
</div>
