<h1 class="notification"> Non-elimination Tournament <span class="orange"> Summary </span></h1>
<div class="event-management">
  <table>
    <tr>
      <th style="width: 150px;">First Name</th>
      <th style="width: 150px;">Last Name</th> 
      <th>Email</th>
      <th style="width: 20px;">Wins</th>
    </tr>
    <tr>
      <td>Player</td>
      <td>1</td> 
      <td>someemail@email.com</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Player</td>
      <td>4</td> 
      <td>someemail@email.com</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Player</td>
      <td>2</td> 
      <td>someemail@email.com</td>
      <td>1.5</td>
    </tr>
    <tr>
      <td>Player</td>
      <td>3</td> 
      <td>someemail@email.com</td>
      <td>1.5</td>
    </tr>
    <tr>
      <td>Player</td>
      <td>6</td> 
      <td>someemail@email.com</td>
      <td>1.5</td>
    </tr>
    <tr>
      <td>Player</td>
      <td>8</td> 
      <td>someemail@email.com</td>
      <td>1.5</td>
    </tr>
    <tr>
      <td>Player</td>
      <td>5</td> 
      <td>someemail@email.com</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Player</td>
      <td>7</td> 
      <td>someemail@email.com</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Player</td>
      <td>9</td> 
      <td>someemail@email.com</td>
      <td>0.5</td>
    </tr>
  </table>
</div>
<div class="menu">
  <div class="title"> Menu </div>
  <a class="tab" href="/mockup-event-info">
    <img src="<%= image_path('pen.svg') %>"/>
    <span> Edit Info </span>
  </a>
  <a class="tab" href="/mockup-event-checkin"> 
    <img src="<%= image_path('person.svg') %>"/>
    <span> Check In </span>
  </a>
  <a class="tab" href="/mockup-event-brackets"> 
    <img src="<%= image_path('trophy.svg') %>"/>
    <span> Brackets </span>
  </a>
  <!--<a class="tab" href="#"> 
    <img src="<%= image_path('money.svg') %>"/>
    <span> Rewards </span>
  </a>-->
  <a class="tab" href="/mockup-event-summary">
    <img src="<%= image_path('stats.svg') %>"/>
    <span> Summary </span>
  </a>
  <a class="tab" href="/mockup-events"> 
    <img src="<%= image_path('trash.svg') %>"/>
    <span> Delete </span>
  </a>
</div>