<h1 class="notification"> Create A <span class="orange"> New Event </span></h1>
<%= form_for @event do |f| %>
<div class="form">
  <table>
    <tr>
      <th>Type</th>
      <th>Value</th>
    </tr>
    <tr>
      <td style="width: 150px;">Name</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td style="width: 150px;">Date</td>
      <td><%= f.text_field :date %></td>
    </tr>
    <tr>
      <td style="width: 150px;">Type</td>
      <td>
        <%=f.select :event_type, options_for_select(['Netrunner','Magic The Gathering','Pokemon'])%>
      </td>
    </tr>
    <tr>
      <td style="width: 150px;">Bracket</td>
      <td>
        <%=f.select :bracket, options_for_select(%w[Non-Elimination])%>
      </td>
    </tr>
    <tr style="height: 150px">
      <td style="width: 150px;">Description</td>
      <td><%=f.text_area :description%></td>
    </tr>
  </table>
<%= f.submit 'Create Event', :class => "submit"%>
<% end %>
  <a href=<%= events_path%>><button style="background: #b3b3b3; margin-left: 15px;">Cancel</button></a>
</div>
