<script>
$(function() {
  $( "#dialog" ).dialog({
    autoOpen: false,
  });

  $( ".result" ).click(function() {
    $( "#dialog" ).dialog( "open" );
  });
});
</script>
<div id="dialog" title="Match Result">
  <p>Who won the match?</p>
  <button class="left-button"> Player 1 </button>
  <button class="center-button"> Player 2 </button>
  <button class="right-button"> Tie </button>
</div>

<h1 class="notification"><%=@event.name%><span class="orange"> Brackets </span></h1>
<div class="event-management">
  <%@rounds.each do |r|%>
    <div class=<%=r.get_style()%>>
      <%r.games.each do |g|%>
	<%= form_for g do |f| %>
	<%g.contestants.each do |p|%>
	  <div class="bracket">
	    <div class=<%=g.get_2p_styling(p)%>> 
	      <span><%=p.name%></span>
	      <%if p == g.contestants.first%>
		<%=f.checkbox :p1_win, disabled: !r.active?%> 
	      <%else%>
		<%=f.checkbox :p2_win, disabled: !r.active?%> 
	      <%end%>
	    </div>
	  </div>
	  <%= f.submit 'Submit', :class => "submit" %>
	  <%end%>
	<%end%>
    <%end%>
    <%r.byes.each do |name,team|%>
      <div class="bracket">
        <div class="by tie">
	  <span><%=name%> </span>
	  <input type="text" placeholder="0" value="T"/>
        </div>
      </div>
    <%end%>
  </div>
  <%end%>
</div>

<div class="menu">
  <%= link_to "New Round", new_round_path, :class => 'tab'%>
</div>

<div class="menu">
  <div class="title"> Menu </div>
  <a class="tab" href="/mockup-event-info">
    <img src="<%= image_path('pen.svg') %>"/>
    <span> Edit Info </span>
  </a>
  <a class="tab" href="/mockup-event-checkin"> 
    <img src="<%= image_path('person.svg') %>"/>
    <span> Check In </span>
  </a>
  <a class="tab" href="/mockup-event-brackets"> 
    <img src="<%= image_path('trophy.svg') %>"/>
    <span> Brackets </span>
  </a>
  <!--<a class="tab" href="#"> 
    <img src="<%= image_path('money.svg') %>"/>
    <span> Rewards </span>
  </a>-->
  <a class="tab" href="/mockup-event-summary">
    <img src="<%= image_path('stats.svg') %>"/>
    <span> Summary </span>
  </a>
  <a class="tab" href="/mockup-events"> 
    <img src="<%= image_path('trash.svg') %>"/>
    <span> Delete </span>
  </a>
</div>
