<script>
$(function() {
  $( "#dialog" ).dialog({
    autoOpen: false,
  });

  $( ".result" ).click(function() {
    $( "#dialog" ).dialog( "open" );
  });
});
</script>
<div id="dialog" title="Match Result">
  <p>Who won the match?</p>
  <button class="left-button"> Player 1 </button>
  <button class="center-button"> Player 2 </button>
  <button class="right-button"> Tie </button>
</div>

<h1 class="notification"><%=@event.name%><span class="orange"> Brackets </span></h1>

<div class="event-management">
  <% if @new_round %>  
    <p><%=@new_round.games.count%><p>
    <%= form_for @event, url: { :action => :update } do |f| %>
      <%= f.text_field :name %>
      <%= f.fields_for :rounds do |round| %>
        <%= round.number_field :round_number %>
        <%= round.fields_for :games do |game_form| %>
            <%= game_form.radio_button :p1_win, true%>
        <% end %>
      <% end %>
      <%= f.submit %>
    <% end %>
  <%else%>
    <p>HELLOOOOO<p>
  <% end %>

</div>

<div class="menu">
  <%= link_to "New Round", new_round_path, :class => 'tab'%>
</div>

<div class="menu">
  <div class="title"> Menu </div>
  <a class="tab" href="/mockup-event-info">
    <img src="<%= image_path('pen.svg') %>"/>
    <span> Edit Info </span>
  </a>
  <a class="tab" href="/mockup-event-checkin"> 
    <img src="<%= image_path('person.svg') %>"/>
    <span> Check In </span>
  </a>
  <a class="tab" href="/mockup-event-brackets"> 
    <img src="<%= image_path('trophy.svg') %>"/>
    <span> Brackets </span>
  </a>
  <!--<a class="tab" href="#"> 
    <img src="<%= image_path('money.svg') %>"/>
    <span> Rewards </span>
  </a>-->
  <a class="tab" href="/mockup-event-summary">
    <img src="<%= image_path('stats.svg') %>"/>
    <span> Summary </span>
  </a>
  <a class="tab" href="/mockup-events"> 
    <img src="<%= image_path('trash.svg') %>"/>
    <span> Delete </span>
  </a>
</div>
