<script>
$(function() {
  $( "#dialog" ).dialog({
    autoOpen: false,
  });

  $( ".result" ).click(function() {
    $( "#dialog" ).dialog( "open" );
  });
});
</script>
<div id="dialog" title="Match Result">
  <p>Who won the match?</p>
  <button class="left-button"> Player 1 </button>
  <button class="center-button"> Player 2 </button>
  <button class="right-button"> Tie </button>
</div>
<h1 class="notification"><%=@event.name%><span class="orange"> Brackets </span></h1>
<div class="event-management">
  <div class="third left-most history">
    <%@prev_rounds.each do |p|%>
      p.games.each do |g|
    <div class="bracket">
	if !g.is_winner(g.player_1)
          <div class="top"> 
	else
          <div class="top winner"> 
	end
	<span><%=g.player_1.name%> </span>
	if g.is_winner(g.player_1)
        <input type="text" placeholder="0" value="W"/>
	else if g.has_tie
        <input type="text" placeholder="0" value="T"/>
	else
        <input type="text" placeholder="0" value="L"/>
	end
      </div>
      <div class="bottom"> 
	if !g.is_winner(g.player_2)
          <div class="bottom"> 
	else
          <div class="bottom winner"> 
	end
	<span><%=g.player_2.name%> </span>
	if g.is_winner(g.player_2)
        <input type="text" placeholder="0" value="W"/>
	else if g.has_tie
        <input type="text" placeholder="0" value="T"/>
	else
        <input type="text" placeholder="0" value="L"/>
	end
      </div>
    </div>
  <div class="third">
    <div class="bracket">
      <div class="top"> 
        <span> Player 1 </span>
        <input class="result" type="text" placeholder="?" readonly/>
      </div>
      <div class="bottom"> 
        <span> Player 2 </span>
        <input class="result" type="text" placeholder="?" readonly/>
      </div>
    </div>
    <div class="bracket">
      <div class="top"> 
        <span> Player 3 </span>
        <input class="result" type="text" placeholder="?" readonly/>
      </div>
      <div class="bottom"> 
        <span> Player 4 </span>
        <input class="result" type="text" placeholder="?" readonly/>
      </div>
    </div>
    <div class="bracket">
      <div class="top"> 
        <span> Player 5 </span>
        <input class="result" type="text" placeholder="?" readonly/>
      </div>
      <div class="bottom"> 
        <span> Player 6 </span>
        <input class="result" type="text" placeholder="?" readonly/>
      </div>
    </div>
    <div class="bracket">
      <div class="top"> 
        <span> Player 7 </span>
        <input class="result" type="text" placeholder="?" readonly/>
      </div>
      <div class="bottom"> 
        <span> Player 8 </span>
        <input class="result" type="text" placeholder="?" readonly/>
      </div>
    </div>
    <div class="bracket">
      <div class="by">
        <span> Player 9 </span>
        <input class="result" type="text" placeholder="?" readonly/>
      </div>
    </div>
  </div>
  <div class="third">
  </div>
</div>
<div class="menu">
  <div class="title"> Menu </div>
  <a class="tab" href="/mockup-event-info">
    <img src="<%= image_path('pen.svg') %>"/>
    <span> Edit Info </span>
  </a>
  <a class="tab" href="/mockup-event-checkin"> 
    <img src="<%= image_path('person.svg') %>"/>
    <span> Check In </span>
  </a>
  <a class="tab" href="/mockup-event-brackets"> 
    <img src="<%= image_path('trophy.svg') %>"/>
    <span> Brackets </span>
  </a>
  <!--<a class="tab" href="#"> 
    <img src="<%= image_path('money.svg') %>"/>
    <span> Rewards </span>
  </a>-->
  <a class="tab" href="/mockup-event-summary">
    <img src="<%= image_path('stats.svg') %>"/>
    <span> Summary </span>
  </a>
  <a class="tab" href="/mockup-events"> 
    <img src="<%= image_path('trash.svg') %>"/>
    <span> Delete </span>
  </a>
</div>
