<script>
$(function() {
  $( "#dialog" ).dialog({
    autoOpen: false,
  });

  $( ".result" ).click(function() {
    $( "#dialog" ).dialog( "open" );
  });
});
</script>
<div id="dialog" title="Match Result">
  <p>Who won the match?</p>
  <button class="left-button"> Player 1 </button>
  <button class="center-button"> Player 2 </button>
  <button class="right-button"> Tie </button>
</div>

<h1 class="notification"><%=@event.name%><span class="orange"> Brackets </span></h1>

<div class="event-management">
<p>Check a box to declare a winner. Check both boxes or
   leave both blank to declare a tie.<p>
  <% if !@event.rounds.empty?%>  
    <%= form_for @event, url: { :action => :update_bracket } do |f| %>
      <%= f.fields_for :rounds do |round_form| %>
	<%= round_form.hidden_field :active, :value => false%>
	<div class="<%=round_form.object.get_style()%>">
	  <%= round_form.fields_for :games do |game_form| %>
	    <div class="bracket">
	    <%game_form.object.contestants.each do |p|%>
                <div class="<%=game_form.object.get_2p_styling(p)%>">
		  <span><%=p.name%></span>
                  <%if p == game_form.object.contestants.first%>
                    <%= game_form.check_box :p1_win%>
                  <%else%>
                    <%= game_form.check_box :p2_win%>
                  <%end%>
                </div>
            <% end %>
            </div>
	  <% end %>
        </div>
      <% end %>
      <%= f.submit 'Submit Changes', :class => "submit" %>
    <% end %>
  <%else%>
    <p>Press 'New Round' to generate a new round<p>
  <% end %>

</div>

<%if !@event.rounds.empty?%>
<div>
  <table>
    <tr>
      <th>Player</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Ties</th>
    </tr>
    <%@event.scores.each do |p,s_arr|%>
      <tr>
	<td><%=p.name%></td>
	<td><%=s_arr[0]%></td>
	<td><%=s_arr[1]%></td>
	<td><%=s_arr[2]%></td>
      </tr>
    <%end%>
  </table>
</div>
<%end%>

<div class="menu">
  <div class="title"> Menu </div>
  <a class="tab" href=<%=new_round_path%>>
    <img src="<%= image_path('pen.svg') %>"/>
    <span> New Round </span>
  </a>
  <a class="tab" href="/mockup-event-info">
    <img src="<%= image_path('pen.svg') %>"/>
    <span> Edit Info </span>
  </a>
  <a class="tab" href="/mockup-event-checkin"> 
    <img src="<%= image_path('person.svg') %>"/>
    <span> Check In </span>
  </a>
  <a class="tab" href="/mockup-event-brackets"> 
    <img src="<%= image_path('trophy.svg') %>"/>
    <span> Brackets </span>
  </a>
  <!--<a class="tab" href="#"> 
    <img src="<%= image_path('money.svg') %>"/>
    <span> Rewards </span>
  </a>-->
  <a class="tab" href="/mockup-event-summary">
    <img src="<%= image_path('stats.svg') %>"/>
    <span> Summary </span>
  </a>
  <a class="tab" href="/mockup-events"> 
    <img src="<%= image_path('trash.svg') %>"/>
    <span> Delete </span>
  </a>
</div>
