<script>
$(function() {
  $( "#dialog" ).dialog({
    autoOpen: false,
  });

  $( ".result" ).click(function() {
    $('#event_form').submit();
  });

  $( ".checkbox input" ).click(function() {
    document.eform.action ="<%= url_for(:controller => 'events', :action => 'save_event') %>"
    eform.submit();
  });
});

</script>
<div id="dialog" title="Match Result">
  <p>Who won the match?</p>
  <button class="left-button"> Player 1 </button>
  <button class="center-button"> Player 2 </button>
  <button class="right-button"> Tie </button>
</div>

<%= form_for @event, url: { :action => :update_bracket }, 
  :html => {:id => 'event_form', :name => 'eform' }  do |f| %>
<h1 class="notification"><%=@event.name%><span class="orange"> Brackets </span></h1>

<div class="event-management">
  <% if @new_round_disabled %>
    <p>There must be at least two players added to
       the event before the match can start.<p>
  <% elsif !@event.rounds.empty?%>  
<p>Check a box to declare a winner. Check both boxes or
   leave both blank to declare a tie.<p>
      <%= f.fields_for :rounds do |round_form| %>
	<%= round_form.hidden_field :active, :value => false%>
	<div class="<%=round_form.object.get_style()%>">
          <%round_form.object.games.order("id")%>
	  <%= round_form.fields_for :games do |game_form| %>
	    <div class="bracket">
	      <%game_form.object.contestants.each do |p|%>
                <div class="<%=game_form.object.get_2p_styling(p)%>">
		  <span><%=p.name%></span>
	          <div class="checkbox">
                  <%if p == game_form.object.contestants.first%>
                    <%= game_form.check_box :p1_win%>
                  <%else%>
                    <%= game_form.check_box :p2_win%>
                  <%end%>
	        </div>
                </div>
            <% end %>
            </div>
	  <% end %>
        </div>
      <% end %>
  <%else%>
    <p>Press 'New Round' to generate a new round<p>
  <% end %>

</div>

<%if !@event.rounds.empty?%>
<div>
  <table>
    <tr>
      <th>Player</th>
      <th>Losses</th>
      <th>Wins</th>
      <th>Ties</th>
    </tr>
    <%@event.scores.each do |p,s_arr|%>
      <tr>
	<td><%=p.name%></td>
	<td><%=s_arr[0]%></td>
	<td><%=s_arr[1]%></td>
	<td><%=s_arr[2]%></td>
      </tr>
    <%end%>
  </table>
</div>
<%end%>

<div class="menu">
  <div class="title"> Menu </div>
<% if @new_round_disabled %>
  <a class="tab">
    <img src="<%= image_path('pen.svg') %>"/>
    <span><strike>New Round</strike></span>
  </a>
<%else%>
  <a class="result tab">
 <img src="<%= image_path('pen.svg') %>"/>
  <% if @event.rounds.empty? %>
    <span> Start Match </span>
  <%else%>
    <span> Advance Match </span>
  <%end%>
</a>
<a class="tab" href=<%=undo_round_path%> data-method="delete"> 
  <img src="<%= image_path('trophy.svg') %>"/>
  <span> Undo Round </span>
</a>
<%end%>
  <a class="tab" href="/mockup-event-info">
    <img src="<%= image_path('pen.svg') %>"/>
    <span> Edit Info </span>
  </a>
  <a class="tab" href="/mockup-event-checkin"> 
    <img src="<%= image_path('person.svg') %>"/>
    <span> Check In </span>
  </a>
  <!--<a class="tab" href="#"> 
    <img src="<%= image_path('money.svg') %>"/>
    <span> Rewards </span>
  </a>-->
  <a class="tab" href="/mockup-event-summary">
    <img src="<%= image_path('stats.svg') %>"/>
    <span> Summary </span>
  </a>
  <a class="tab" href="/mockup-events"> 
    <img src="<%= image_path('trash.svg') %>"/>
    <span> Delete </span>
  </a>
</div>
<%end%>
